<div id="Index">
  <div id="logged_in_user">Logged in user: <%= (current_user == nil) ? 'None' : current_user.email %></div>
  <div id="Index_RefreshCounter">Index refresh counter: <%= session[:counters][:index] += 1%></div>
  <%= link_to 'Go to Page1 from Index', page1_path %>
  <%= link_to 'Go to Page1 from no rails-ajax Index', page1_path, :use_rails_ajax => false %>
  <%= link_to 'Go to Page1 from targeted Index', page1_path, :target => '_top' %>
  <%= link_to page1_path do %>Go to Page1 from block Index<% end %>
  <%= link_to 'Go to page_with_anchor from Index', page_with_anchor_path %>
  <%= link_to 'Go to page_with_anchor from anchored Index', page_with_anchor_path(:anchor => 'Anchor') %>
  <%= link_to 'Go to page_with_refresh_layoutdiv from Index', page_with_refresh_layoutdiv_path %>
  <%= link_to 'Go to page_with_railsajax_javascript from Index', page_with_railsajax_javascript_path %>
  <%= link_to 'Go to page_with_javascript from Index', page_with_javascript_path %>
  <%= link_to 'Go to page_with_jquery_ready from Index', page_with_jquery_ready_path %>
  <%= link_to 'Go to page_with_flash from Index', page_with_flash_path %>
  <%= link_to 'Go to Redirect from Index', redirect_path %>
  <%= link_to 'Go to Redirect from no rails-ajax Index', redirect_path, :use_rails_ajax => false %>
  <%= link_to 'Go to Redirect from flashed Index', redirect_with_flash_path %>
  <%= link_to 'Go to Error404 from Index', error404_path %>
  <%= link_to 'Go to IncorrectPage from Index', '/incorrect_page' %>
  <%= link_to 'Go to empty_page_204 from Index', empty_page_path(204) %>
  <%= link_to 'Go to empty_page_404 from Index', empty_page_path(404) %>
  <%= link_to 'Go to empty_page_500 from Index', empty_page_path(500) %>
  <%= form_tag page1_path do %>
    <%= label_tag :index_field_1, 'Text field' %><%= text_field_tag :index_field_1 %>
    <%= submit_tag 'IndexButton1' %>
    <%= submit_tag 'IndexButton2' %>
  <% end %>
  <%= form_tag page1_path, :target => '_top' do %>
    <%= label_tag :index_field_2, 'targeted Text field' %><%= text_field_tag :index_field_2 %>
    <%= submit_tag 'IndexButton3' %>
    <%= submit_tag 'IndexButton4' %>
  <% end %>
  <%= form_tag page_with_anchor_path do %>
    <%= label_tag :index_field_3, 'Text field to page 3' %><%= text_field_tag :index_field_3 %>
    <%= submit_tag 'IndexButton5' %>
    <%= submit_tag 'IndexButton6' %>
  <% end %>
  <%= form_tag page_with_anchor_path(:anchor => 'Anchor') do %>
    <%= label_tag :index_field_4, 'Text field to anchored page 3' %><%= text_field_tag :index_field_4 %>
    <%= submit_tag 'IndexButton7' %>
    <%= submit_tag 'IndexButton8' %>
  <% end %>
  <%= form_tag redirect_path do %>
    <%= label_tag :index_field_5, 'Text field to redirect' %><%= text_field_tag :index_field_5 %>
    <%= submit_tag 'IndexButton9' %>
    <%= submit_tag 'IndexButtonA' %>
  <% end %>
  <%= form_tag page_with_flash_path do %>
    <%= label_tag :index_field_6, 'Text field to page 8' %><%= text_field_tag :index_field_6 %>
    <%= submit_tag 'IndexButtonB' %>
    <%= submit_tag 'IndexButtonC' %>
  <% end %>
  <%= form_tag redirect_with_flash_path do %>
    <%= label_tag :index_field_7, 'Text field to flashed redirect' %><%= text_field_tag :index_field_7 %>
    <%= submit_tag 'IndexButtonD' %>
    <%= submit_tag 'IndexButtonE' %>
  <% end %>
  <%= form_tag page1_path, :use_rails_ajax => false do %>
    <%= label_tag :index_field_8, 'Text field with rails-ajax disabled' %><%= text_field_tag :index_field_8 %>
    <%= submit_tag 'IndexButtonF' %>
    <%= submit_tag 'IndexButtonG' %>
  <% end %>
  <%= form_tag error404_path do %>
    <%= label_tag :index_field_9, 'Text field to error 404' %><%= text_field_tag :index_field_9 %>
    <%= submit_tag 'IndexButtonH' %>
    <%= submit_tag 'IndexButtonI' %>
  <% end %>
  <%= form_tag '/incorrect_page' do %>
    <%= label_tag :index_field_10, 'Text field to incorrect page' %><%= text_field_tag :index_field_10 %>
    <%= submit_tag 'IndexButtonJ' %>
    <%= submit_tag 'IndexButtonK' %>
  <% end %>
  <div id="Index_Parameters">
    <% params.each do |iParamName, iParamValue| %>
      <div id="Index_Param_<%= iParamName %>"><%= "#{iParamName} = #{iParamValue}" %></div>
    <% end %>
  </div>
  <div id="json1">
    <%= link_to 'Send JSON1 Ajax call', json1_path, :remote => true, :id => 'json1_link' %>
    <%= form_tag json1_path, :remote => true, :id => 'json1_form' do %>
      <%= submit_tag 'Send JSON1 Ajax call with post', :id => 'json1_button' %>
    <% end %>
    <div id="json1_content">
    </div>
  </div>
  <div id="json2">
    <%= link_to 'Send JSON2 Ajax call', json2_path, :remote => true, :id => 'json2_link' %>
    <%= form_tag json2_path, :remote => true, :id => 'json2_form' do %>
      <%= submit_tag 'Send JSON2 Ajax call with post', :id => 'json2_button' %>
    <% end %>
    <div id="json2_content">
    </div>
  </div>
  <div id="json3">
    <a href="#" onclick="ajaxCall3()" id="json3_link">Send JSON3 Ajax call</a>
    <form>
      <input type="button" onclick="ajaxCall3()" value="Send JSON3 Ajax call with post" id="json3_button">
    </form>
    <div id="json3_content">
    </div>
  </div>
  <div id="json4">
    <%= link_to 'Send JSON4 Ajax call', '#', :onclick => 'ajaxCall4()', :id => 'json4_link' %>
    <div id="json4_content">
    </div>
  </div>
  <div id="json5">
    <%= link_to 'Send JSON5 Ajax call', json5_path, :remote => true, :id => 'json5_link' %>
    <%= form_tag json5_path, :remote => true, :id => 'json5_form' do %>
      <%= submit_tag 'Send JSON5 Ajax call with post', :id => 'json5_button' %>
    <% end %>
    <div id="json5_content">
    </div>
  </div>
  <div id="json6">
    <%= link_to 'Send JSON6 Ajax call', '#', :onclick => 'ajaxCall6(); return false;', :id => 'json6_link' %>
    <%= form_tag '#', :id => 'json6_form' do %>
      <%= submit_tag 'Send JSON6 Ajax call with post', :onclick => 'ajaxCall6(); return false;', :id => 'json6_button' %>
    <% end %>
    <div id="json6_content">
    </div>
  </div>
  <%= button_to 'Button to Page1 from Index', page1_path %>
  <%= button_to 'Button to Page1 from no rails-ajax Index', page1_path, :use_rails_ajax => false %>
  <%= button_to 'Button to Page1 from targeted Index', page1_path, :target => '_top' %>
  <%= button_to page1_path do %>Button to Page1 from block Index<% end %>
</div>

<%= javascript_tag do %>

  // Fill a DOM element with the content of an object
  //
  // Parameters::
  // * *elem* (_Element_): DOM element to fill
  // * *obj* (_Object_): Object to take attributes from
  function fillWithObject(elem, obj) {
    $.each(obj, function(key, value) {
      elem.append('<div><div class="key">' + key + '</div><div class="value">' + value + '</div></div>');
    });
  }

  // Send the Ajax call 3
  function ajaxCall3() {
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
      if ((xmlhttp.readyState == 4) && (xmlhttp.status == 200)) {
        fillWithObject($("#json3_content"), $.parseJSON(xmlhttp.responseText));
      }
    };
    xmlhttp.open("GET", "<%= json3_path %>", true);
    xmlhttp.send();
    return false;
  }

  // Send the Ajax call 4
  function ajaxCall4() {
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
      if ((xmlhttp.readyState == 4) && (xmlhttp.status == 200)) {
        fillWithObject($("#json4_content"), $.parseJSON(xmlhttp.responseText));
      }
    };
    xmlhttp.open("GET", "<%= json4_path %>", true);
    xmlhttp.send();
    return false;
  }

  // Send the Ajax call 6
  function ajaxCall6() {
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
      if ((xmlhttp.readyState == 4) && (xmlhttp.status == 200)) {
        fillWithObject($("#json6_content"), $.parseJSON(xmlhttp.responseText));
      }
    };
    xmlhttp.open("GET", "<%= json6_path %>", true);
    xmlhttp.send();
    return false;
  }

  $(document).ready(function(){

    // Bind JSON1
    $("#json1_link").bind("ajax:success", function(xhr, data, status) {
      fillWithObject($("#json1_content"), data);
    });
    $("#json1_form").bind("ajax:success", function(xhr, data, status) {
      fillWithObject($("#json1_content"), data);
    });

    // Bind JSON2
    $("#json2_link").bind("ajax:success", function(xhr, data, status) {
      fillWithObject($("#json2_content"), data);
    });
    $("#json2_form").bind("ajax:success", function(xhr, data, status) {
      fillWithObject($("#json2_content"), data);
    });

    // Bind JSON5
    $("#json5_link").bind("ajax:success", function(xhr, data, status) {
      fillWithObject($("#json5_content"), data);
    });
    $("#json5_form").bind("ajax:success", function(xhr, data, status) {
      fillWithObject($("#json5_content"), data);
    });

  });
<% end %>
