<div id="Page1">
  <div id="Page1_RefreshCounter">Page1 refresh counter: <%= session[:counters][:page1] += 1%></div>
  <%= link_to 'Go to Index from Page1', root_path %>
  <%= link_to 'Go to Page2 from Page1', page2_path %>
  <%= form_tag root_path do %>
    <%= label_tag :page1_field_1, 'Text field' %><%= text_field_tag :page1_field_1 %>
    <%= submit_tag 'Page1Button1' %>
    <%= submit_tag 'Page1Button2' %>
  <% end %>
  <%= form_tag page2_path do %>
    <%= label_tag :page1_field_2, 'Text field to page 2' %><%= text_field_tag :page1_field_2 %>
    <%= submit_tag 'Page1Button3' %>
    <%= submit_tag 'Page1Button4' %>
  <% end %>
  <div id="Page1_Parameters">
    <% params.each do |iParamName, iParamValue| %>
      <div id="Page1_Param_<%= iParamName %>"><%= "#{iParamName} = #{iParamValue}" %></div>
    <% end %>
  </div>
</div>
